
.about-content {
    position: relative;
    margin-top: 60px;
    padding: 50px 0;
    background-color: var(--light-blue-color);
}




.about-content .header-right {
    width: 43%;
    bottom: 0;
    height: 100%;
}

.about-content .header-right .header-exp {
    padding-top: 20px !important;
}

.about-content .header-right .header-exp i {
    font-size: 30px;
}


.about-content .header-left {
    padding: 60px 0;
}

.about-content .header-left .najma {
    top: -245px;
    left: 45px;
    box-shadow: -15px 15px 50px 30px var(--orange-color);
}

.about-content .header-left h3 {
    font-weight: 300;
    font-size: 51px;
}

.about-content .about-component h5 {
    color: var(--white-color);
    font-weight: 300;
    padding: 10px 0;
}

@media screen and (max-width: 1398px) {
    .about-content .header-left .najma {
        top: -320px;
    }
}

@media screen and (max-width: 1198px) {
    .about-content .header-left h3 {
        font-weight: 300;
        font-size: 40px;
    }
    .about-content .about-component {
        flex-direction: column;
    }
}


@media screen and (max-width: 998px) {
    .about-content .container {
        flex-direction: column;
    }
    .about-content .about-component {
        flex-direction: row;
    }
    .about-content .header-right {
        width: 100%;
    }
}

@media screen and (max-width: 798px) {
    .about-content .header-left .najma {
        top: -380px;
    }
    .about-content .about-component {
        flex-direction: column;
    }
}